@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {

    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-size: 0.8rem;
    color: #8b8b8b;
}

tr:hover {
    background-color: #f1f1f1;
}

.edit-button {
    background-color: black;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
}

.delete-button {
    color: #fff;
    background-color: #e62143;
    font-size: 0.8rem;
    text-decoration: none;
}


a {
    color: #fff;
    background-color: #433d8b;
    border: none;
    border-radius: 8px;
    padding: 8px 13px;
    margin: 10px;
    font-size: 0.8rem;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
          rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
          rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

a:hover {
    background-color: #343085;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #433d8b;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #343085;
}

form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-top: 20px;
}